﻿@{
    ViewData["Title"] = "GamePlay";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <ol>
        <li>At anytime click on Home to start queueing again</li>
        <li>Queue for a random game by pressing the button on home screen and selecting a unique name</li>
        <li>
            If you are a asker,
            <ul>
                <li>Think of a regex string</li>
                <li>Give some strings matching and not matching to the regex</li>
            </ul>
        </li>
        <li>
            If you are a responder,
            <ul>
                <li>Then wait for the asker to give the problem</li>
                <li>Guess the correct regex or ask for more strings from the asker</li>
            </ul>
        </li>
    </ol>
</p>

<style>
    ul,ol {
        font-display:block;
        font-size:medium;
        font-family:Arial;
    }
</style>
