@{
    ViewData["Title"] = "Game Screen";
}


<div id="question-portal">
    <p>Input your regex</p>
    <input type="text" id="RegexString" required />
    <p>Input two strings matching the regex</p>
    <input type="text" id="match1" required />
    <input type="text" id="match2" required />
    <p>Input two strings that do not match your regex</p>
    <input type="text" id="nomatch1" required />
    <input type="text" id="nomatch2" required />
    <p>
        <button type="button" id="SubmitRegex">
            Challenge
        </button>
    </p>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/submit.js"></script>
