@{
    ViewData["Title"] = "Game Screen";
}


<div id="question-portal">
    <p>Input your regex as a string below</p>
    <input type="text" id="RegexString" />
    <br />
    <p>Input strings matching the regex</p>
    <ul id="matchStrings">
        <li>
            <input type="text" id="match1" />
        </li>
        <li>
            <input type="text" id="match2" />
        </li>
    </ul>
    <br />
    <p>Input strings that do not match your regex</p>
    <ul id="nomatchStrings">
        <li>
            <input type="text" id="nomatch1" />
        </li>
        <li>
            <input type="text" id="nomatch2" />
        </li>
    </ul>
    <p>
        <button type="button" id="SubmitRegex">
            Challenge
        </button>
    </p>
</div>

<div id="question-display">
    <p>Below are the strings that match with the asked regex</p>
    <ul id="matcherStrings"></ul>
    <p>Below are the strings that do not match with the asked regex</p>
    <ul id="nomatcherStrings"></ul>

    <p>
        Enter your guess
    </p>
    <input type="text" id="RegexAnswer" required />

    <p>
        <button type="button" id="SubmitAnswer">
            Guess
        </button>
    </p>
    <br />
    <div id="Hint">
        <button type="button" id="HintBtn">
            Need Help, Ask For More Strings
        </button>
        <button type="button" id="GiveUp">
            I Give Up!
        </button>
    </div>

</div>
<div id="Result" style="font-size:larger;color:burlywood;background-color:dimgray;font-weight:bold;position:relative;margin-left:30px;margin-top:10px;display:none">
    <p id="Winner" style="position:relative; margin-left:30px;">You Guessed it Right.</p>
    <p id="Points" style="position:relative; margin-left:30px;"></p>
</div>
<div id="btnholder">
    <button id="Reset">RESET</button>
</div>
<style>
    *,
    :before,
    :after {
        box-sizing: border-box;
    }
    ul {
        list-style-type: none
    }
    input {
        background: none;
        color: #807e7e;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 320px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #c6c6c6;
    }
    #btnholder{
        position:relative;
    }
    #Reset{
        position:absolute;
        right:20px;
        font-size:larger;
        border:thick;
        background-color:dimgray;
        color:antiquewhite;
    }
    #question-portal p, #question-display p {
        border: 2px solid #0066FF;
        background-color: #6eb5a9;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: Verdana;
        font-size:16px;
    }
    #RegexString,#RegexAnswer
    {
        position: relative;
        margin-left:50px;
        margin-top:20px;
    }

    #Hint {
        position: relative;
        margin-left: 100px;
    }

    #HintBtn, #GiveUp {
        background-color: #bbbd4d;
        font-size: 18px;
    }
    #GiveUp{
        position:relative;
        margin-left:20px;
    }
    #SubmitRegex{
        font-style:italic;
        font-weight:bold;
    }
    #matcherStrings, #nomatcherStrings{
        font-family:Arial, Helvetica, sans-serif;
        font-size:large;
    }
</style>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/submit.js"></script>
