@{
    ViewData["Title"] = "Game Screen";
}


<div id="question-portal">
    <p>Input your regex as a string</p>
    <input type="text" id="RegexString" required />
    <p>Input two strings matching the regex</p>
    <input type="text" id="match1" required />
    <input type="text" id="match2" required />
    <p>Input two strings that do not match your regex</p>
    <input type="text" id="nomatch1" required />
    <input type="text" id="nomatch2" required />
    <p>
        <button type="button" id="SubmitRegex">
            Challenge
        </button>
    </p>
</div>

<div id="question-display">
    <p>Below are the strings that match with the asked regex</p>
    <p id="matcher1"></p>
    <p id="matcher2"></p>
    <br />
    <p>Below are the strings that do not match with the asked regex</p>
    <p id="nomatcher1"></p>
    <p id="nomatcher2"></p>
    <br />

    <p>
        Enter your guess
        <input type="text" id="RegexAnswer" required />
    </p>
    <p>
        <button type="button" id="SubmitAnswer">
            Guess
        </button>
    </p>
    <br />
    <p>
        <button type="button" id="Hint">
            Ask For More Strings
        </button>
    </p>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/submit.js"></script>
