
@{
    ViewData["Title"] = "GameScreen";
}

<h2>GameScreen</h2>

<body>
    <div>
        <p>Input your regex</p>
        <input type="text" id="RegexString" />
        <p>Input two strings matching the regex</p>
        <input type="text" id="match1" />
        <input type="text" id="match2" />
        <p>Input two strings that do not match your regex</p>
        <input type="text" id="nomatch1" />
        <input type="text" id="nomatch2" />
        <p>
        <button type="button" id="SubmitRegex">Challenge</button>
        </p>
    </div>
</body>

