@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <input type="text" id="playerName" placeholder="Enter your name" />
    <button type="button" id="queueButton">Queue for a game</button>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>